body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.line-up-button,.slow-down-button, .speed-up-button {
  padding:5px 12px;
  float: left;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.dance-floor {
  height: 100%;
}

.generic-box {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: blue;
  border: 2px black solid;
}

.gal-logo {
  width: 50px;
  height: 50px;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.jumpyDancer{
  border:10px solid blue;
  border-radius:10px;
  position:fixed;
}

.snowyDancer{
  border-radius:10px;
  position:fixed;
}

.spiral {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rotatingDancer {
  position: fixed;
  width: 50px;
  height: 50px;
}
